/* stylelint-disable selector-type-case */
/* stylelint-disable color-function-notation */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import url('bootstrap/dist/css/bootstrap.min.css');

/* Font Imports */
@font-face {
  font-family: 'Markazi Text Medium';
  src: url('./fonts/markazi-text.medium.ttf');
}

@font-face {
  font-family: 'Markazi Text Regular';
  src: url('./fonts/markazi-text.regular.ttf');
}

/* General Decorations */
* {
  color: #000;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #EE9972;
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Markazi Text Medium';
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4, h5, h6, p, label, input {
  font-family: 'Karla';
}

h6, p, label, input {
  font-size: 16px;
}

h4 {
  font-size: 20px;
  font-weight: 800;
}

h5, button, .order-link, .menu-order-link {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 700;
}

h6 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

label {
  font-weight: 700;
}

input {
  font-weight: 400;
}

/* Header-Navbar */
header {
  height: 75px;
  background: #FFF;
  position: sticky;
  top: 0;
  z-index: 3;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

/* Hero */
.hero {
  background-color: #495E57;
}

.starter-info {
  margin: 50px 100px;
}

.hero > .starter-info > .starter-headings > h1 {
  color: #F4CE14;
}

.hero > .starter-info > .starter-headings > h2 {
  color: #FFF;
}

#restaurant-food {
  width: 375px;
  height: 425px;
  margin: 50px 100px;
}

/* Buttons */
#reserve-btn, #online-menu {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 16px;
  text-align: center;
}

#reserve-btn {
  background-color: #F4CE14;
}

#online-menu {
  background-color: #495E57;
  color: #FFF;
}

#reserve-btn:hover, #online-menu:hover, #reserve-btn:active, #online-menu:active {
  box-shadow: 2px 4px 10px #000;
  cursor: pointer;
}

#reserve-btn:hover {
  background-color: #495E57;
  color: #FFF;
}

#online-menu:hover {
  background-color: #F4CE14;
  color: #000;
}

/* Specials */
.specials {
  height: 600px;
  background: #F4CE14;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.warning {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.specials-menu {
  display: flex;
  justify-content: space-evenly;
}

.special-dish {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.special-dish > img, .menu-dish > img {
  width: 265px;
  height: 190px;
}

.title-and-price > h6 {
  color: #EE9972;
  margin-block-start: 5px;
}

/* Testimonials */
.testimonials {
  background: #495E57;
  padding: 40px;
}

.testimonials > h2 {
  color: #FFF;
  text-align: center;
}

.testimonials-container {
  justify-content: space-evenly;
}

.testimonial {
  background: #FFF;
  width: 245px;
  height: 175px;
}

.testimonial > img {
  width: 85px;
  height: 85px;
  float: left;
  margin-block-start: 2px;
  margin-inline-start: 2px;
}

.testimonial > h6 {
  margin-block-end: 45px;
  margin-inline-start: 5px;
}

.testimonial > blockquote {
  font-weight: 300;
  margin-block-start: 22.5px;
  margin-inline-start: 6px;
}

/* About */
.about {
  background: #F4CE14;
  height: 600px;
}

.restaurant-info, .restaurant-images {
  margin: 50px 100px;
}

.restaurant-images > img {
  width: 280px;
  height: 300px;
  margin: 0 30px 40px 0;
}

#restaurant-dishes {
  position: relative;
  top: 5em;
  left: 5em;
}

#restaurant-interior {
  position: relative;
  z-index: 2;
  right: 2rem;
  bottom: 2rem;
}

/* Footer */
footer, footer > .contact-line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-block-start: 30px;
}

.contact-line > ul > li {
  margin: 5px;
}

footer > ul > li > a, .contact-line > ul > li > a {
  color: #000;
}

footer > ul > li > a:hover, .contact-line > ul > li > a:hover {
  color: #EE9972;
}

footer > ul > li > img, .contact-line > ul > li > img {
  width: 30px;
  height: 30px;
}

/* About Page */
.about-page {
  background: #F4CE14;
  height: 550px;
}

.restaurant-cv {
  margin: 50px 100px;
}

.restaurant-imgs > #restaurant-dishes {
  position: relative;
}

.restaurant-imgs > #restaurant-interior {
  position: relative;
  z-index: 2;
  right: 2rem;
}

/* Menu Page */
.menu {
  background: linear-gradient(rgba(255,255,255, 50%), rgba(255,255,255, 50%)), url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
  height: 600px;
}

.menu > h1 {
  color: #FFF;
  text-align: center;
}

#menu-greek-salad, #menu-bruschetta, #menu-lemon-dessert {
  width: 265px;
  height: 400px;
  background: #EDEFEE;
}

#menu-greek-salad {
  margin-block-start: 60px;
  justify-content: space-around;
}

#menu-greek-salad > img, #menu-bruschetta > img {
  margin-block-start: -4px;
}

#menu-lemon-dessert > img {
  margin-block-start: -10px;
}

/* Reservations Page */
.booking-form {
  background: linear-gradient(rgba(255,255,255, 50%), rgba(255,255,255, 50%)), url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block-end: 2em;
}

.booking-form-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservations-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input, select {
  width: 300px;
  background: #CFCFCF;
  border: none;
  border-radius: 10px;
}

#submit-form-btn {
  background: #F4CE14;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: 600;
  padding: 10px;
}

#submit-form-btn:hover {
  box-shadow: 2px 2px 4px #000;
}

.confirmed-booking {
  background: linear-gradient(rgba(255,255,255, 50%), rgba(255,255,255, 50%)), url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.confirmed-booking >* {
  justify-content: center;
  align-items: center;
}

/* Order Online and Login Pages */
.order-online, .login {
  background: linear-gradient(rgba(255,255,255, 50%), rgba(255,255,255, 50%)), url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
  height: 300px;
}

.order-info, .login {
  justify-content: center;
  align-items: center;
}

.order-info > h1, .order-info > p, .login > h1, .login > p {
  color: #FFF;
  text-align: center;
}

#order-btn {
  background: #F4CE14;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}

#order-btn:hover, #order-btn > Link:hover {
  background: #495E57;
  color: #FFF;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    width: 100%;
  }

  header {
    width: 90%;
    background: #FFF;
    position: sticky;
    top: 0;
    left: -5%;
  }

  .hero, .specials, .testimonials, .about, footer, .about-page, .menu, .order-online, .login {
    width: 90%;
    overflow: auto;
  }

  .hero > .starter-info, .warning, .restaurant-info, .restaurant-cv {
    margin-inline-start: 5%;
  }

  .hero > aside, footer > img, .order-link, .restaurant-images, .restaurant-imgs {
    display: none;
  }

  #reserve-btn, #online-menu, #order-btn {
    width: 100px;
    height: 30px;
    font-size: 0.75em;
    margin-block-end: 10px;
  }

  .specials-menu {
    margin-block-start: 60px;
    margin-inline-start: 5%;
    height: 300px;
  }

  #greek-salad, #bruschetta, #lemon-dessert {
    width: 198.75px;
    height: 300px;
    padding-block-end: 30px;
  }

  #greek-salad > img, #bruschetta > img, #lemon-dessert > img {
    width: 198.75px;
    height: 150px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  #greek-salad > p, #bruschetta > p, #lemon-dessert > p {
    font-size: 12px;
  }

  #bruschetta {
    margin-block-start: 57.5px;
    padding-block-end: 70px;
  }

  .testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .testimonial > h5 {
    display: none;
  }

  footer > img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }

  header {
    width: 160%;
    position: sticky;
    top: 0;
  }

  Nav {
    width: 100%;
    background: #FFF;
  }

  #logo {
    width: 200px;
    height: 75px;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
  }

  h5, button, .order-link {
    font-size: 13.5px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  label {
    font-size: 12px;
  }

  input {
    font-size: 12px;
  }

  .hero, .specials, .testimonials, .about, footer, .about-page, .menu, .order-online, .login {
    width: 160%;
    overflow: auto;
  }

  #reserve-btn, #online-menu {
    width: 100px;
    height: 30px;
    font-size: 0.75em;
    margin-block-end: 10px;
  }

  #restaurant-food {
    width: 250px;
    height: 285px;
  }

  .specials {
    height: 450px;
  }

  .specials-menu {
    height: 500px;
    justify-content: center;
    gap: 42px;
  }

  .special-img {
    width: 105px;
    height: 150px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  #greek-salad > p {
    font-size: 9px;
  }

  .testimonial > img {
    display: none;
  }

  .testimonial > blockquote {
    font-size: 7px;
  }

  .restaurant-images {
    display: none;
  }

  footer, footer > .contact-line {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  footer > img {
    display: none;
  }

  .menu > h1, .menu > .specials-menu {
    margin-block-start: 40px;
  }
}

@media screen and (max-width: 960px) {
  * {
    box-sizing: border-box;
  }

  header {
    width: 175%;
    background: #FFF;
    position: sticky;
    top: 0;
  }

  Nav {
    background: #FFF;
  }

  #logo {
    width: 200px;
    height: 75px;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
  }

  h5, button, .order-link {
    font-size: 13.5px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  label {
    font-size: 12px;
  }

  input {
    font-size: 12px;
  }

  .hero, .specials, .testimonials, .about, footer, .about-page, .menu, .order-online, .login {
    width: 175%;
    overflow: auto;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #reserve-btn, #online-menu {
    width: 100px;
    height: 30px;
    font-size: 0.75em;
    margin-block-end: 10px;
  }

  #restaurant-food {
    width: 250px;
    height: 283.3px;
  }

  .specials {
    height: 450px;
  }

  .specials-menu {
    margin-block-start: 30px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #greek-salad, #bruschetta, #lemon-dessert {
    width: 198.75px;
    height: 300px;
    background: #EDEFEE;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-around;
    padding-block-end: 30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .special-img {
    width: 198.75px;
    height: 150px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  #greek-salad, #lemon-dessert {
    margin-block-start: 20px;
  }

  #bruschetta {
    margin-block-start: 15px;
  }

  .order-link {
    margin-bottom: 1.25em;
  }

  .testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .testimonial {
    width: 198.75px;
    height: 131.25px;
    padding-block-end: 10px;
  }

  .testimonial > h5 {
    font-size: 14px;
  }

  .testimonial > img {
    width: 55px;
    height: 55px;
  }

  .testimonial > blockquote {
    font-size: 11.5px;
  }

  .testimonial > h6 {
    font-size: 10px;
  }

  .about, .about-page {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }

  .title-and-subtitle2 {
    margin-block-start: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .restaurant-images {
    position: absolute;
  }

  .restaurant-images > img {
    width: 280px;
    height: 300px;
  }

  #restaurant-interior {
    display: none;
  }

  footer > img {
    display: none;
  }

  #menu-greek-salad > img, #menu-bruschetta > img {
    margin-block-start: -10px;
  }
}