@font-face {
  font-family: 'Markazi Text Medium';
  src: url('./fonts/markazi-text.medium.ttf');
}

@font-face {
  font-family: 'Markazi Text Regular';
  src: url('./fonts/markazi-text.regular.ttf');
}

header, nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav > ul > li {
  margin: 10px;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

a {
  color: #000000;
  text-decoration: none;
}

h1 {
  font-family: 'Markazi Text Medium';
  font-size: 4em;
}

h2 {
  font-family: 'Markazi Text Regular';
  font-size: 40px;
}

h3 {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 800;
}

h4 {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 800;
}

p {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}

span {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 500;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  header, nav > ul {
    flex-direction: column;
    justify-content: center;
  }

  nav > ul > li {
    margin: 10px;
  }

  h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  header, nav > ul {
    flex-direction: column;
    justify-content: center;
  }

  nav > ul > li {
    margin: 5px;
  }

  h1 {
    font-size: 2em;
  }
}