/* Font Imports */
@font-face {
  font-family: 'Markazi Text Medium';
  src: url('./fonts/markazi-text.medium.ttf');
}

@font-face {
  font-family: 'Markazi Text Regular';
  src: url('./fonts/markazi-text.regular.ttf');
}

/* General Decorations */
* {
  color: #000000;
}

a, Link {
  text-decoration: none;
}

h1 {
  font-family: 'Markazi Text Medium';
  font-size: 4em;
}

h2 {
  font-family: 'Markazi Text Regular';
  font-size: 40px;
}

h3 {
  font-family: 'Markazi Text Medium';
  font-size: 24px;
}

h4 {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 800;
}

h5 {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 700;
}

h5:hover {
  color: #EE9972;
  cursor: pointer;
}

h6 {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 500;
}

p {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}

/* Header-Navbar */
header, nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav > ul > li {
  margin: 10px;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 500;
}

/* Hero */
.hero {
  background-color: #495E57;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero > .starter-info > h1 {
  color: #F4CE14;
}

.hero > .starter-info > h2 {
  color: #FFFFFF;
}

#restaurant-food {
  width: 375px;
  height: 425px;
}

/* Buttons */
#reserve-btn, #online-menu {
  width: 200px;
  height: 60px;
  background-color: #F4CE14;
  border: none;
  border-radius: 16px;
}

#reserve-btn:hover, #online-menu:hover, #reserve-btn:active, #online-menu:active {
  background-color: #495E57;
  box-shadow: 2px 4px 10px #000000;
  cursor: pointer;
}

#reserve-btn:hover > h3, #online-menu:hover > h5 {
  color: #FFFFFF;
}

/* Specials */
.specials {
  margin-top: 30px;
}

.warning, .specials-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#greek-salad, #bruschetta, #lemon-dessert {
  width: 265px;
  height: 400px;
  background: #EDEFEE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-evenly;
  margin: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#greek-salad > img, #bruschetta > img, #lemon-dessert > img {
  width: 265px;
  height: 185px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.title-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-evenly;
  margin-top: 15px;
}

.title-and-price > h6 {
  color: #EE9972;
  margin-top: 8px;
}

/* Testimonials */
.testimonials {
  background: #495E57;
  padding: 40px;
}

.testimonials > h2 {
  color: #FFFFFF;
  text-align: center;
}

.testimonials-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.testimonial {
  background: #FFFFFF;
  width: 265px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.rating-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.rating-data > img {
  width: 45px;
  height: 45px;
}

.testimonial > blockquote {
  font-weight: 300;
}

/* About */
.about {
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title-and-subtitle2 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.restaurant-images {
  position: relative;
}

.restaurant-images > img {
  width: 220px;
  height: 300px;
  margin-bottom: 40px;
}

#restaurant-img {
  position: relative;
  right: 5px;
}

#chefs {
  position: relative;
  z-index: 2;
  right: 2rem;
  bottom: 2rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

/* About Page */
.about-page {
  background: #F4CE14;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-page > .restaurant-cv, .about-page > .restaurant-imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin-top: 40px;
}

.about-page > .restaurant-imgs > img {
  width: 220px;
  height: 300px;
  margin-bottom: 40px;
}

.restaurant-imgs > #restaurant-img {
  position: relative;
}

.restaurant-imgs > #chefs {
  position: absolute;
  z-index: 2;
  right: 2rem;
}

/* Menu Page */
.menu {
  background: #495E57;
}

.menu > h1 {
  color: #FFFFFF;
  text-align: center;
}

.menu > h1, .menu > .specials-menu {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  header, nav > ul {
    flex-direction: column;
    justify-content: center;
  }

  nav > ul > li {
    margin: 10px;
  }

  h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  header, nav > ul {
    flex-direction: column;
    justify-content: center;
  }

  nav > ul > li {
    margin: 5px;
  }

  h1 {
    font-size: 2em;
  }
}